<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchandise Store</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>

    <!-- bagian header-->
    <div class="medsos">
            <div class="container">
                <ul>
                    <li><a href="https://www.facebook.com/saturnuzzpeoplez"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/peoplezsaturnuzz/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
    </div>
        <header>
        <div class="container">
        <h1><a href="index.html"></a>Merchandise Store</h1>
        <ul>
                    <li><a href="home">HOME</a></li>
                    <li class="active"><a href="about">PRODUCT</a></li>
                    <li><a href="contact">CONTACT</a></li>
                </ul>
            </div>
        </header>

      
        <!-- servis -->
            <section class="services">
                <div class="container">
                <h3>OUR PRODUCTS</h3>
                <div class="box">
                    <div class="col-4">
                        <div class="icon"><i class="fa-solid fa-shirt"></i></div>
                        <h4>T-Shirt</h4>
                        <p>Rp. 100.000,-</p>
               </div>
               <div class="box">
                    <div class="col-4">
                        <div class="icon"><i class="fa-duotone fa-shirt"></i></div>
                        <h4>Shirt</h4>
                        <p>Rp. 95.000,-</p>
               </div><div class="box">
               <div class="col-4">
                       <div class="icon"><i class="fa-duotone fa-shoe-prints"></i></div>
                       <h4>Shoes</h4>
                       <p>Rp. 70.000,-</p>
               </div><div class="box">
               <div class="col-4">
                       <div class="icon"><i class="fa-solid fa-chart-bar"></i></div>
                        <h4>Cap</h4>
                        <p>Rp. 50.000,-</p>
                </div>
                <div class="col-4">
                    <div class="icon"><i class="fa-duotone fa-laptop"></i></div>
                    <h4>Laptop</h4>
                    <p>Rp. 8.000.000,-</p>
           </div>
           <div class="box">
                <div class="col-4">
                    <div class="icon"><i class="fa-solid fa-globe"></i></div>
                    <h4>Mouse</h4>
                    <p>Rp. 300.000,-</p>
           </div><div class="box">
           <div class="col-4">
                   <div class="icon"><i class="fa-solid fa-edit"></i></div>
                   <h4>Keyboard</h4>
                   <p>Rp. 700.000,-</p>
           </div><div class="box">
           <div class="col-4">
                   <div class="icon"><i class="fa-solid fa-chart-bar"></i></div>
                    <h4>Headseat</h4>
                    <p>Rp. 40.000,-</p>
            </div>
            <div class="col-4">
                <div class="icon"><i class="fa-solid fa-mobile"></i></div>
                <h4>Jacket</h4>
                <p>Rp. 250.000,-</p>
       </div>
       <div class="box">
            <div class="col-4">
                <div class="icon"><i class="fa-solid fa-globe"></i></div>
                <h4>Swethear</h4>
                <p>Rp. 400.000,-</p>
       </div><div class="box">
       <div class="col-4">
               <div class="icon"><i class="fa-solid fa-edit"></i></div>
               <h4>Hoodiee</h4>
               <p>Rp. 350.000,-</p>
       </div><div class="box">
       <div class="col-4">
               <div class="icon"><i class="fa-solid fa-chart-bar"></i></div>
                <h4>Trousers</h4>
                <p>Rp. 300.000,-</p>
        </div>
        <div class="box">
            <div class="col-4">
                <div class="icon"><i class="fa-solid fa-shirt"></i></div>
                <h4>Blanket</h4>
                <p>Rp. 160.000,-</p>
       </div>
       <div class="box">
            <div class="col-4">
                <div class="icon"><i class="fa-duotone fa-shirt"></i></div>
                <h4>Shorts</h4>
                <p>Rp. 130.000,-</p>
       </div><div class="box">
       <div class="col-4">
               <div class="icon"><i class="fa-duotone fa-shoe-prints"></i></div>
               <h4>Gloves</h4>
               <p>Rp. 60.000,-</p>
       </div><div class="box">
       <div class="col-4">
               <div class="icon"><i class="fa-solid fa-chart-bar"></i></div>
                <h4>Sock</h4>
                <p>Rp. 55.000,-</p>
        </div>
          </div>
     </div>
</section>
        <!-- bawah -->
            <footer>
                <div class="container">
                    <small> Copyright by Telkom School Malang, Tugas Produktif RPL Website.</small>
                </div>
            </footer>
</body>
</html>
