<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchandise Store</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>

    <!-- bagian header-->
    <div class="medsos">
            <div class="container">
                <ul>
                    <li><a href="https://www.facebook.com/saturnuzzpeoplez"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/peoplezsaturnuzz/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
    </div>
        <header>
        <div class="container">
        <h1><a href="index.html"></a>Merchandise Store</h1>
        <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="about">PRODUCT</a></li>
                    <li class="active"><a href="contact">CONTACT</a></li>
                </ul>
            </div>
        </header>


        <!-- bagian about -->
        <section class="about">
            <div class="container">
                <h3>CONTACT INFO</h3>
                <div class="box">
                    <div class="col-4">
                        <h4>Address</h4>
                        <p>JL. Danau Ranau, Sawojajar, Malang</p>
                </div>
                <div class="box">
                    <div class="col-4">
                        <h4>Email</h4>
                        <p>mohammad_ramadhan_30rpl@ student.smktelkom-mlg.sch.id</p>
                </div>
                <div class="box">
                    <div class="col-4">
                        <h4>Telp.</h4>
                        <p>082143362962</p>
                </div>
                <div class="box">
                    <div class="col-4">
                        <h4>WhatsApp</h4>
                        <p>082143362962</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.5615657382077!2d112.65687391348804!3d-7.976835691704098!2m3!  f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd6285c5c1b44e3%3A0xf6c889ac7452dc3a!2sTelkom%20School%20-%20SMK%20Telkom%20Malang!5e0!3m2!1sid!2sid!4v1659852334102!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <!-- bawah -->
            <footer>
                <div class="container">
                    <small> Copyright by  Telkom School Malang, Tugas Produktif RPL Website.</small>
                </div>
            </footer>
</body>
</html>
