<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Merchandise Store</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    </head>
    <body>

        <!-- bagian header-->
        <div class="medsos">
                <div class="container">
                    <ul>
                        <li><a href="https://www.facebook.com/saturnuzzpeoplez"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/peoplezsaturnuzz/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
        </div>
            <header>
            <div class="container">
            <h1><a href="index.html"></a>Merchandise Store</h1>
            <ul>
                        <li class="active"><a href="home">HOME</a></li>
                        <li><a href="about">PRODUCT</a></li>
                        <li><a href="contact">CONTACT</a></li>
                    </ul>
                </div>
            </header>

            <!-- kelas banner -->
            <section class="banner">
                <h2>WELCOME TO Merchandise Store Mokleters</h2>
            </section>

            <!-- bagian about -->
            <section class="about">
                <div class="container">
                    <h3>ABOUT</h3>
                    <P>Traditionally overlooked in the German world of football, Borussia Dortmund have become a household name in the sport with regular German and European success over the last generation. The Jurgen Klopp era brought unprecedented back-to-back Bundesliga titles in 2011 and 2012, with regular contention late in the Champions League knockout rounds and a trip to the final. Today's era at Dortmund is all about developing young talent and competing with the biggest and best in the sport, so fans can shop Kitbag's assortment of Borussia Dortmund kits, jerseys and Borussia Dortmund gear for every supporter. Shop the newest 2020-21 Borussia Dortmund kits among our classic football shirt selection in every popular style from the home and away to the third kits so everyone can deck themselves out in BVB pride. Support your favorite players with kits for Jadon Sancho when you shop the latest Borussia Dortmund range including the latest releases of official Borussia Dortmund jerseys. We're your one stop shop for all the best Borussia Dortmund merchandise and clothing, which you'll find among Kitbag's wide assortment of licensed Borussia Dortmund apparel. Keep it locked here for new Borussia Dortmund boots and scarves featuring your club's iconic crest and colors to ensure you're ready for the next big match.</P>
                </div>
            </section>

            <!-- servis -->
                <section class="services">
                    <div class="container">
                        <h3>SERVICES</h3>
                    <div class="box">
                        <div class="col-4">
                            <div class="icon"><i class="fa-solid fa-mobile"></i></div>
                            <h4>MOBILE APP</h4>
                   </div>
                   <div class="box">
                        <div class="col-4">
                            <div class="icon"><i class="fa-solid fa-globe"></i></div>
                            <h4>WEB DEVELOPMENT</h4>
                   </div><div class="box">
                   <div class="col-4">
                           <div class="icon"><i class="fa-solid fa-edit"></i></div>
                           <h4>DESIGN</h4>
                   </div><div class="box">
                   <div class="col-4">
                           <div class="icon"><i class="fa-solid fa-chart-bar"></i></div>
                            <h4>DIGITAL MARKETING</h4>
                    </div>
                    </div>
                    </div>
                </section>
            <!-- bawah -->
                <footer>
                    <div class="container">
                        <small> Copyright by Telkom School Malang, Tugas Produktif RPL Website.</small>
                    </div>
                </footer>
    </body>
    </html>
